apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: {{ .Values.backend.image }}
        ports:
        - containerPort: {{ .Values.backend.containerPort }}
        env:
        - name: DB_HOST
          value: "{{ .Values.backend.db.host }}"
        - name: DB_NAME
          value: "{{ .Values.backend.db.name }}"
        - name: DB_PORT
          value: "{{ .Values.backend.db.port }}"
        - name: DB_USER
          value: "{{ .Values.backend.db.user }}"
        - name: DB_PASSWORD
          value: "{{ .Values.backend.db.password }}"
